@model PagedList.IPagedList<Camuda.Models.log>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var locations = "{lat: 105.8194541, lng:21.0227431}";
    string info = "";
    var count = 0;
}
<style>
    #map-container {
        padding: 6px;
        border-width: 1px;
        border-style: solid;
        border-color: #ccc #ccc #999 #ccc;
        -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
        -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
        box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
        width: 600px;
      }
      #map {
        width: auto;
        height: 400px;
      }
</style>
<script type="text/javascript" src="/Scripts/jquery-1.10.2.min.js"></script>
<script src="/Scripts/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLPSKQ4QV4xGiQjnZDUecx-UEr3D0QePY&libraries=places&region=vn&language=vi" type="text/javascript"></script>
<script src="/Scripts/jquery.geocomplete.js"></script>
<script src="/Scripts/jquery-ui.js"></script>
<link rel="stylesheet" href="~/Scripts/jquery-ui.css">
<script>
    var markers = [];
    var imageUrl = '/images/car.png' +
          'chco=FFFFFF,008CFF,000000&ext=.png';
    var markerImage = new google.maps.MarkerImage(imageUrl, new google.maps.Size(24, 32));
    var styles = [[{
        url: 'http://thuexetoancau.vn/images/car.png',
        height: 35,
        width: 35,
        anchor: [16, 0],
        textColor: '#ff00ff',
        textSize: 10
    }]]
    var image = {
        url: 'http://carmuda.com/Content/images/car2.png',
        // This marker is 20 pixels wide by 32 pixels high.
        size: new google.maps.Size(64, 64),
        // The origin for this image is (0, 0).
        origin: new google.maps.Point(0, 0),
        // The anchor for this image is the base of the flagpole at (0, 32).
        anchor: new google.maps.Point(64, 64)
    };
    
</script>
<div>
    <div class="col-md-12" style="background:#ffd800;">
        <h1>Hệ thống quản lý định vị GPS Camuda Version 1.0</h1>
    </div>
    <div class="panel-heading col-md-12">
        <div class="form-inline">
            <div class="form-group">
                <input type="text" id="devname" class="form-control" placeholder="Nhập tên thiết bị gps" value="@ViewBag.devname" style="width:360px;" onkeyup="searchCarNumber();" />
            </div>
            <div class="form-group">
                <input type="button" value="Tìm Kiếm" class="btn btn-primary" onclick="search();" />
            </div>
        </div>
    </div>
    <div class="col-md-4" style="background:#00ff90;border-right:1px solid #808080;height:500px;border-bottom:1px solid #808080;border-left:1px solid #808080;">
        <h2>Danh sách các thiết bị</h2>
            @if (Model != null)
            {
                if (Model.Count > 0)
                {
                    <ul>
                        <li><a href="/logs/index?devname=">Tất cả</li>
                        @foreach (var item in Model)
                        {
                            locations += ",{lat: " + item.lat + ", lng: " + item.lon + "}";
                            if (count==0) {info = "Thiết bị:" + @item.dev + ", đã đi được " + item.mil + " dặm, tổng thời gian lái xe trong ngày " + item.drt + ", cập nhật vào " + item.dat + " lúc " + item.tim+", đang ở <span id=locationnow>đang tìm...</span>";}
                            count++;
                            <li>
                                <a href="/logs/index?devname=@item.dev&id=@item.id">&nbsp;@item.dev</a>
                                @*<span id="location_@item.id"></span>*@
                            </li>         
                        }
                    </ul>
                    
                        <script>
                            //locations += ",{lat: " + json_parsed.news[i].lat + ", lng: " + json_parsed.news[i].lon + "}";
                            var latLng = new google.maps.LatLng(0, 0);
                            var marker = new google.maps.Marker({ 'position': latLng, 'label': "test", title: 'Click to zoom', 'icon': image, 'draggable': true });
                            //var phone = json_parsed.news[i].phone;
                            //marker.addListener('click', function () {
                            //    //alert("ok");
                            //    openphone(phone);
                            //});
                            @foreach (var item2 in Model)
                            {
                                <text>
                                    latLng = new google.maps.LatLng(@item2.lat, @item2.lon);
                                    marker = new google.maps.Marker({ 'position': latLng, 'label': "@item2.dev", title: 'Click to zoom', 'icon': image, 'draggable': true });
                                    markers.push(marker);
                                </text>
                            }
                            //alert(markers.length);
                        </script>
                    
                }

            }    
                    
    </div>
    <div class="col-md-8" style="border-right:1px solid #808080;height:500px;border-bottom:1px solid #808080;">
        <h2>Nhật ký lịch trình xe ô tô</h2>
        <p>@Html.Raw(@info)</p>
        <div id="map"></div>
    </div>
</div>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 13,
            center: {lat: @ViewBag.lat, lng: @ViewBag.lon}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        @*var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
                position: location,
                label: @ViewBag.devname
            });
        });*@

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
    }
    //var locations = [@locations];
    var map22 = new google.maps.Map(document.getElementById('map'), {
        zoom: 9,
        center: { lat: @ViewBag.lat, lng: @ViewBag.lon },
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var markerCluster = new MarkerClusterer(map22, markers, { maxZoom: 12, gridSize: 70, imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m' });
    
</script>
<script>
    $.ajax({
        url: "https://maps.googleapis.com/maps/api/geocode/json?latlng=@ViewBag.lat,@ViewBag.lon&key=AIzaSyDLPSKQ4QV4xGiQjnZDUecx-UEr3D0QePY",
        cache: false,
        type: "GET",        
        dataType: "json",
        success: processJSON
    }).done(function (html) {
        processJSON(html);

    });
    function processJSON(json) {
        // Do stuff here
        //console.log(json);
        //alert("Postal Code:" + json.results[1].formatted_address);
        $("#locationnow").html(json.results[1].formatted_address);
    }
</script>
@*<script src="/Scripts/markerclusterer.js">
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLPSKQ4QV4xGiQjnZDUecx-UEr3D0QePY&libraries=places&region=vn&language=vi&callback=initMap" type="text/javascript"></script>*@
<script>
    function search(){
        var devname=document.getElementById("devname").value;
        window.location.href="/logs/index?devname="+devname;
    }
    var url_searchCarNumber = '/logs/searchDev';
    function searchCarNumber() {
        $('#devname').autocomplete({
            source: url_searchCarNumber + '?devname=' + $("#devname").val(),
            select: function (event, ui) {
                $(event.target).val(ui.item.value);
                return false;
            },
            minLength: 1
        });
    }
</script>